.wrapper {
  display: block;
  margin: 1rem 15px;
}

.title {
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 375px) { 
  .main {
    display: block;
  }

  .item {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
 }

@media (min-width: 576px) { 
  .main {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    width: 45%;
  }
}